input.toggle {
  display: none;
}

label.toggle-button {
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
}

label:hover.list-to-toggle {
  background: #33cc00;
  color: #000;
}

.toggle-list {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

input:checked + .toggle-list {
  height: 6rem;
}
